@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Damion&family=Eagle+Lake&family=Fredericka+the+Great&family=Genos:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Handjet:wght@100..900&family=Michroma&family=Press+Start+2P&display=swap');


.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* 

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.genos-<uniquifier> {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.handjet-<uniquifier> {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
} 
*/

.genos-regular {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.handjet-regular {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}


.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}


.damion-regular {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}


.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}


